/*
  File origin: VS1LAB A1b  

  CSS style is Brem. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and thremability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML elrement styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #dce0e8;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elrements */
input {
  padding: 0.5rem;
}

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw 5vw;
  color: #f4dbd6;
  background: #24273a;
}

.header > *:not(last-child){
  margin-right: 5vw;
}

.header a {
  color: #ee99a0;
}

.header img {
  max-width: 5vw;
}

/* ### TODO ### Styles for Main Component */
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/* ### TODO ### Styles for Tagging component */
.main__tagging {
  padding: 1rem;
  border: 0.1rem;
}


.tag-fieldset {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border: thin solid #939ab7;
}
.tag-fieldset legend {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.tag-fieldset label {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  color: #363a4f;
}
.tag-fieldset input {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #363a4f;
  background: #a6adc8;
  height: 2.3rem;
  border: thin solid #6e738d;
}
.tag-fieldset #name, #hashtag {
  border: thin solid #363a4f;
  background: #cad3f5;
}
#tag-submit {
  background: #b7bdf8;
}

/* ### TODO ### Styles for Discovery component */
.main__discovery {
  padding: 1rem;
  border: 0.1rem;
}

.discovery-fieldset {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border: thin solid #939ab7;
}
.discovery-fieldset legend {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.discovery-fieldset label {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  color: #363a4f;
}
.discovery-fieldset input {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #363a4f;
  background: #cad3f5;
  height: 2.3rem;
  border: thin solid #6e738d;
  width: 20rem;
}
#discovery-submit {
  background: #b7bdf8;
}

.discovery__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}
.discovery__taglist {
  display: flex;
  flex-direction: column;
}
.discovery__results {
  list-style-type: none;
}
.discovery__results li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0 1rem 1rem;
  color: #1e2030;
  background: #f0c6c6;
  border: thin solid #6e738d;
}
.discovery__map {
  display: flex;
  flex-direction: column;
  color: #363a4f;
}
.discovery__map img {
  border: thin solid #6e738d;
  margin-bottom: 0.2rem;
}

/* ### TODO ### Styles for Footer Component */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vw 5rem;
  color: #f4dbd6;
  background: #24273a;
}

/* ### TODO ### Media Queries */
@media only screen and (max-width: 875px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main section {
    width: 90vw;
  }

  .main input {
    width: 100%;
  } 

  .discovery__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .discovery__results {
    width: 90vw;
  }

  .discovery__map {
    max-width: 90vw;
  }
}
